<p>{{productForm.value|json}}</p>
<p>{{productForm.errors|json}}</p>
<div class="flex flex-row gap-8 items-start w-full p-6">

  <p-toast />
  <!-- Left: Image Gallery -->
  <div class="w-1/5 shadow-xl">

    <p-galleria [value]="images" [showIndicators]="true"    [showThumbnails]="false" [changeItemOnIndicatorHover]="true"
      [containerStyle]="{ 'max-width': '100%' }">
      <ng-template #item let-item>
        <img [src]="item.imageUrl" class="w-50 rounded-xl  bg-none" />
      </ng-template>
    </p-galleria>
  </div>



  <!-- Right: Product Info -->
  <form class="w-4/5 shadow-xl h-full p-4" [formGroup]="productForm" (submit)="Updateproduct()">
    <div>
      <p class="w-full">
        <label for="title" class="">Title</label>
        <input class="w-full" type="text" pInputText formControlName="title" />
        <div class="text-danger" *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched">
          @if(productForm.get('title')?.errors?.['required']){
            <p-message severity="error" variant="simple" size="small">Title is required.</p-message>
          }
          @if(productForm.get('title')?.errors?.['minlength']){
            <p-message severity="error" variant="simple" size="small">Minimum 3 characters required.</p-message>
          }
          @if(productForm.get('title')?.errors?.['maxlength']){
            <p-message severity="error" variant="simple" size="small">Maximum 50 characters allowed.</p-message>
          }
        </div>


        <p-fileUpload #imgref name="images" [multiple]="true" accept="image/*" mode="advanced" [auto]="false"
          customUpload="true"  (onSelect)="onSelect($event)" (onRemove)="onRemove($event)"  [showUploadButton]="false"
          [showCancelButton]="false"  [maxFileSize]="5000000">
        </p-fileUpload>
        @if ( images?.length == 0 && imgref.files.length == 0) {
          <p-message severity="error" variant="simple" size="small">At least one image is required.</p-message>
        }

        <div class="existing-images mb-3" *ngIf="images?.length">
          <div *ngFor="let img of images; let i = index" class="d-inline-block position-relative me-2">
            <img [src]="img.imageUrl" class="rounded border" width="100" height="100" />

            <!-- Optional: Remove button -->
            <button class="btn btn-danger btn-sm position-absolute top-0 end-0" type="button" (click)="removeExistingImage(i)">🗑</button>
          </div>
        </div>

        <!-- <p-button [raised]="true" [severity]='"danger"' (onClick)="removeImg()">Delete Image</p-button> -->


      <p-select [options]="cities" formControlName="location"  placeholder="Select a City"
        class="mt-3  w-full md:w-56 lg:w-1/2"  />
        @if(productForm.get('location')?.errors?.['required']){
          <p-message severity="error" variant="simple" size="small">Location is required.</p-message>
        }
      <p-select [options]="categories" formControlName="category" optionLabel="categoryName" optionValue="id" placeholder="Select a Category"
        class="w-full md:w-56 lg:w-1/2" />
        <div class="text-danger" *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
          @if(productForm.get('category')?.errors?.['required']){
            <p-message severity="error" variant="simple" size="small">Category is required.</p-message>
          }
        </div>

      <p class="mt-3">
        <label for="title" class="">Price</label>
        <!-- <input type="text" pInputText [min]="1" formControlName="price" class="sm:w-full md:w-2/5 mr-15" /> -->
        <p-inputNumber inputId="price" formControlName="price" [min]="1"  mode="decimal" class="sm:w-full md:w-2/5 mr-12">
        </p-inputNumber>

        <label for="title" class="">MinQty</label>
        <!-- <input type="text" pInputText formControlName="minQuantity" class="sm:w-full md:w-2/5" /> -->
        <p-inputNumber inputId="price" formControlName="minQuantity" [min]="1"  mode="decimal" class="sm:w-full md:w-2/5 mr-12">
        </p-inputNumber>
      </p>

      <p>
        <p-iftalabel>
          <textarea class="w-full" pTextarea id="description" formControlName="description" rows="5" cols="30" style="resize: none" ></textarea>
          <label for="description">Description</label>
      </p-iftalabel>
      @if (productForm.get('description')?.errors?.['required'] && productForm.get('description')?.touched) {
        <p-message severity="error" variant="simple" size="small">
          Description is required.
        </p-message>
      }
      </p>


      <p>
        <span class="text-4xl text-emerald-900">
          Features
        </span>
      </p>

      <div formArrayName="features">
        <div *ngFor="let feature of features.controls; let i = index" [formGroupName]="i"
          class="mb-4 p-3 border rounded">

          <!-- Feature Key -->
          <input type="text" class="form-control mb-2" formControlName="key" placeholder="Feature Key" />

          <!-- Feature Values -->
          <div formArrayName="values">
            <div *ngFor="let value of featureValues(i).controls; let j = index" class="input-group mb-2">
              <input [formControlName]="j" class="form-control" placeholder="Feature Value" />

              <p-button label="🗑" [rounded]="true" severity="danger" (click)="removeFeatureValue(i, j)"
                [raised]="true" />

            </div>
          </div>

          <!-- Add Value Button -->
          <p-button label=" ➕ Add Value" [rounded]="true" severity="success" (click)="addFeatureValue(i)"
            [raised]="true" />
          <!-- Remove Feature Button -->
          <p-button label="🗑 Remove Feature" [rounded]="true" severity="danger" (click)="removeFeature(i)"
            [raised]="true" />
        </div>

        @if (productForm.get('features')?.errors?.['required'] && productForm.get('features')?.touched) {
          <p-message severity="error" variant="simple" size="small">
            At least one feature is required.
          </p-message>
        }

        @if (productForm.get('features')?.errors?.['invalidFormat'] && productForm.get('features')?.touched) {
          <p-message severity="error" variant="simple" size="small">
            Each feature must have a non-empty key and at least one non-empty value.
          </p-message>
        }
      </div>



      <!-- Add Feature Button -->
      <p-button label="➕ Add Feature" [rounded]="true" severity="success" (click)="addFeature()" [raised]="true" />
      <p class="w-full">

        <p-multiselect [options]="tags" formControlName="tags" optionLabel="name" optionValue="id" placeholder="Select Tags"
          [maxSelectedLabels]="5" styleClass="w-full md:w-80 lg:w-full" />
      </p>
      @if (productForm.get('tags')?.errors?.['required'] && productForm.get('tags')?.touched) {
        <p-message severity="error" variant="simple" size="small">
          At least one Tag is required.
        </p-message>
      }

      <p class="mt-2 w-full text-center">
        <p-button label="Update Product" [disabled]="productForm.invalid"  [rounded]="true" severity="success" type="submit" [raised]="true" />
      </p>
      <!-- [disabled]="productForm.invalid" -->
    </div>
  </form>


</div>