.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  .p-calendar .p-datepicker {
    position: fixed !important;
}

.p-datepicker {
  z-index: 9999 !important;
}

.p-datepicker-overlay {
  overflow: visible !important;
}

/* Ensure the calendar popup can overflow normally */
.p-datepicker {
  z-index: 9999 !important;
  position: absolute !important;
}

